<svg class="icon icon--clouds-left">
    <use xlink:href="#icon-clouds-left"></use>
</svg>
<svg class="icon icon--clouds-right">
    <use xlink:href="#icon-clouds-right"></use>
</svg>
<a href="{{ path('home')}}">
    <svg class="icon icon--logo">
        <use xlink:href="#icon-logo"></use>
    </svg>
</a>
{# put correct path #}
<a class="close" href="{{ path('exam_next')}}">
    <svg class="icon icon--close">
        <use xlink:href="#icon-close"></use>
    </svg>
</a>