<div class="footer">
    <div class="footer__item">
        <a class="text__href" href="{{ path('rules')}}">Список правил</a>
    </div>
    <div class="footer__item">
        <a class="text__href" href="{{ path('about')}}">О нас</a>
    </div>
</div>